# Disable script execution in uploads directory
Options -ExecCGI
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8 .phps
php_flag engine off
AddType text/plain .php .phtml .php3 .php4 .php5 .php7 .php8 .phps
